
<h1>Welcome to Fitness Story</h1>

<button class="loginBtn loginBtn--facebook"><%= link_to('Sign in with Facebook', '/auth/facebook') %></button>


<p>---------or with email ------------</p>

<%= render 'login' %>
<br>

<p><%= link_to "Sign Up", signup_path %>
<br><%= link_to "Log In", login_path %></p>
